<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB PAGE!!!!!!</title>
</head>
<body>
    <!-- <form action="/results" method='post'>
        <label for="JAVA">JAVA:</label><br>
        <input type="text" id="java" name="java" value="0"><br>
        <label for="JS">JS:</label><br>
        <input type="text" id="js" name="js" value="0"><br><br>
        <label for="RUBY ">RUBY:</label><br>
        <input type="text" id="ruby" name="ruby" value="0"><br><br>
        <label for="PYTHON">PYHTON</label><br>
        <input type="text" id="python" name="python" value="0"><br><br>
        <input type="submit" value="Submit"> -->
      <!-- </form>  -->

      
<form action="/judgement" method='post'>
    <label for="JAVA">JAVA:</label><br>
    <input type="text" id="java" name="java" value="0"><br>
    <label for="RUBY">RUBY:</label><br>
    <input type="text" id="ruby" name="ruby" value="0"><br><br>
    <label for="JS">JS:</label><br>
    <input type="text" id="js" name="js" value="0"><br><br>
    <label for="PYTHON">PYTHON:</label><br>
    <input type="text" id="python" name="python" value="0"><br><br>
    <input type="submit" value="Submit">
  </form> 
  
  <p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>
  
</body>
</html>